.bread-crumb-content {
  border: 0.5px solid;
  border-style: dotted;
  height: 300px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.bread-crumb-title {
  text-transform: capitalize;
  margin-bottom: -10px;
}

.bread-crumb {
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.bread-crumb > p,
a {
  margin: 5px;
}

.bread-crumb > span {
  color: #e5735b;
  margin: 5px;
}
